= f.input :avatar
= image_tag(servant.avatar_url, class: 'img-thumbnail') if servant.avatar?
= f.hidden_field :avatar_cache
= f.input :nick
= f.input :rank, prompt: t('pages.servants.select_rank')
= f.input :name
= f.input :in_from, as: :date_picker, input_html: { class: 'date' }
= f.input :year_of_birth, as: :date_picker, input_html: { class: 'year' }
= f.input :gg
= f.input :battle_tag
= f.input :status, as: :radio, collection: status_type
