%tr
  %td
    = f.input :nick
%tr
  %td
    = f.input :rank
%tr
  %td
    = f.input :name
%tr
  %td
    = f.input :in_from
%tr
  %td
    = servant.year_of_birth
%tr
  %td
    = f.input :gg
%tr
  %td
    = f.input :status
%tr
  %td
    = f.input :battle_tag
