.panel.panel-primary
  .panel-heading= t('pages.servants.servant_details')
  .panel-body
    = semantic_form_for servant do |f|
      = render 'fields', f: f
      = f.button t('pages.actions.update'), class: 'btn btn-warning'
= link_to t('global.back'), servants_path, class: 'btn'
