= link_to t('pages.servants.add'), new_servant_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th
        = t('pages.tables.no')
      %th
        = t('pages.servants.nick')
      %th
        = t('pages.servants.rank')
      %th
        = t('pages.tables.name')
      %th
        = t('pages.servants.battle_tag')
      %th
        = t('pages.servants.status')
      %th
        = t('pages.actions.actions')
  %tbody
    - servants.each_with_index do |servant, index|
      %tr
        %td
          = index + 1
        %td
          = link_to servant.nick, servant_path(servant)
        %td
          = servant.rank.name
        %td
          = servant.name
        %td
          = servant.battle_tag
        %td
          = servant.status
        %td
          = link_to t('pages.actions.edit'), edit_servant_path(servant), class: 'btn btn-primary'
          = link_to t('pages.actions.delete'), servant_path(servant), method: :delete, class: 'btn btn-danger'
