.panel.panel-primary
  .panel-heading= t('pages.rank.rank_details')
  .panel-body
    = semantic_form_for rank do |f|
      = render 'fields', f: f
      = f.button t('pages.actions.update'), class: 'btn btn-warning'
= link_to t('global.back'), rank_index_path, class: 'btn'
